@import "../scss/colors";

body {
    background: url("../img/background.jpg");
    background-size: cover;
    font-family: cursive;
}

.content {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}

.md-errors-spacer {
  display: none;
}

.white-btn-with-border {
  color: $white;
  border: 1px solid $white;
}

md-card:focus {
  outline: none;
}

.bg-yellow {
  background-color: $yellow!important;
}

md-toast {
  min-width: 120px!important;
}

.toast-success {
  background-color: $green;
}

.toast-fail {
  padding: 0;
  top: 5px!important;
  right: 5px!important;
}

.toast-fail .md-toast-content {
  background-color: $red;
}
