@import "../../../scss/colors";

.category-card {
  height: 100%;
  width: 100%;

  img {
      height: 100%;
      width: 100%;
  }

  .category-name {
    position: absolute;
    color: $white;
    font-size: 32px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);
    &:hover {
      background-color: rgba(0,0,0, 0.3);
    }
  }

  .online-users {
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: $white;
  }
}
