.welcome-text span {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.categories-list-container md-card {
    position: relative;
    height: 200px;
}

.categories-list-container md-card img {
    height: 100%;
}

.categories-list-container md-card .darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.85;
    cursor: pointer;
}

.categories-list-container md-card .category-name {
  position: absolute;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.categories-list-container md-card .darker:hover {
    opacity: 0.5;
}
