.welcome-text span {
    color: #fff;
    font-size: 36px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 30px;
}

.categories-list-container md-card {
    position: relative;
    height: 200px;
}

.categories-list-container md-card img {
    height: 100%;
}

.categories-list-container md-card div {
    position: absolute;
    height: 200px;
    width: 100%;
    line-height: 200px;
    background-color: #000000;
    opacity: 0.85;
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.categories-list-container md-card div:hover {
    opacity: 0.5;
    cursor: pointer;
    color: #fff;
}