<md-content class="md-padding" layout="column" flex>
  <md-input-container layout="row" flex>
    <label>Name</label>
    <input ng-model="user.name">
  </md-input-container>
  <md-input-container layout="row" flex>
    <label>Surname</label>
    <input ng-model="user.surname">
  </md-input-container>
  <md-input-container layout="row" flex>
    <label>Email</label>
    <input ng-model="user.email">
  </md-input-container>
  <md-input-container layout="row" flex>
    <label>Paswword</label>
    <input type="password" ng-model="user.password">
  </md-input-container>
  <div layout="row" layout-align="start center" flex>
    <md-button ng-click="signUp(user)">
      Sign up
    </md-button>
    <span flex></span>
    <google-icon></google-icon>
  </div>
</md-content>
