<div class="header" layout="row" layout="start center">
  <span class="logo" ng-click="onLogoClick()">QUIZZY</span>
  <span flex></span>
  <div class="checking-user-auth" ng-if="conditions.isCheckingAuth">
    <spinner class="spinner-transparent"></spinner> 
  </div>
  <md-button type="button" name="button" ng-if="!user.email && !conditions.isCheckingAuth"
             class="white-btn-with-border auth-btn" ng-click="onAuthClick()">Auth
  </md-button>
  <div class="active-user" layout="row" layout-align="center center" ng-if="user.email && !conditions.isCheckingAuth">
    <span class="user-name" ng-click="toggleMenu($event)" ng-bind="user.disaplayValue"></span>
    <img class="user-photo" ng-click="toggleMenu($event)" ng-if="user.photo" ng-src="{{user.photo}}" alt="{{user.fullName}}" />
    <ng-md-icon class="user-photo-placeholder" ng-click="toggleMenu($event)" ng-if="!user.photo" icon="account_box"></ng-md-icon>
    <div class="user-menu"  ng-click="$event.stopPropagation()" ng-if="menu.isOpened">
        <div class="logout">
          <md-button ng-click="onLogoutClick()" layout="row" layout-align="center center">
            <span>Log out</span>
            <ng-md-icon icon="logout"></ng-md-icon>
          </md-button>
        </div>
    </div>
  </div>
</div>
